<mat-list>
  <h3 mat-subheader>CALENDAR</h3>
  <mat-list-item *ngFor="let a of appointments">
    <a routerLink="/appointment-details/{{a.id}}">
    	<h4 mat-line>{{a.weekday}}</h4>
	    <p mat-line>  </p>
	</a>
  </mat-list-item>
</mat-list>
