<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="onClickMe()">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{appointment.title}}</mat-card-title>
    <mat-card-subtitle>{{appointment.weekday}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{appointment.description}}
    </p>
  </mat-card-content>
</mat-card>